image:
  repository: ghcr.io/sebastiangaiser/ca-controller-for-strimzi
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart version.
  # tag:

replicas: 1

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

rbac:
  create: true

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
# fsGroup: 2000

securityContext:
  allowPrivilegeEscalation: false
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65534

resources: {}
nodeSelector: {}
tolerations: {}
affinity: {}
extraContainers: []

env: {}
envFrom: []

networkPolicy:
  enabled: false
  flavor: cilium
  cilium:
    egress: []
      # - toEndpoints:
      #     - matchLabels:
      #         io.kubernetes.pod.namespace: kube-system
      #         app.kubernetes.io/instance: coredns
      #         app.kubernetes.io/name: coredns
      #   toPorts:
      #     - ports:
      #         - port: "53"
      #           protocol: UDP
      #         - port: "53"
      #           protocol: TCP
    ingress: []
      # - fromEndpoints:
      #     - matchLabels:
      #         io.kubernetes.pod.namespace: monitoring
      #         app.kubernetes.io/name: prometheus
      #   toPorts:
      #     - ports:
      #         - port: http
      #           protocol: TCP
