name: Build image

on:
  push:
    branches: [main]
    tags: ['*']

permissions:
  contents: write
  packages: write

jobs:
  image:
    runs-on: ubuntu-latest
    env:
      KO_DOCKER_REPO: ghcr.io/sebastiangaiser/ca-controller-for-strimzi
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - run: git fetch --force --tags

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Setup ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9

      - name: Login to GHCR
        run: ko login ghcr.io -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        run: |
          ko build --bare --tags=$(git describe --tags --always) .
