name: Release Chart

on:
  push:
    tags: ['*']

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v4.1.0
      - name: Release chart
        env:
          TAG: "${{ github.ref_name}}"
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git worktree add chart/repo gh-pages
          helm package chart --version "${{ github.ref_name}}" -d chart/repo
          cd chart/repo
          helm repo index . --url=https://sebastiangaiser.github.io/ca-controller-for-strimzi/
          git add .
          git commit -m "$TAG"
          git push
